<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<title>MovieTracker</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  	<link rel="stylesheet" href="/css/style.css">
</head>
	
<body>

<div id="result">
	<table id="movie_results" class="table">

		<thead>
			<tr>
				<td>Title</td>
				<td>Release Date</td>
				<td>Length (minutes)</td>
				<td>Voeg toe</td>
			</tr>
		</thead>

		<tbody>		
			<% @search_results.movies.each_with_index do |movie, i| %>
			
			<% if i == 0 || i % 2 == 0%>
			<% res = "odd" %>
			<% else res = "even" %>
			<% end %>

			
				<tr class ="<%= res %>">					
					<td><a href = "<%= movie.url %>"><%= movie.title %></a></td>					
					<td><%= movie.release_date %></td>
					<td><%= movie.length %></td>
					<td>
						<form method='POST' action = '/add'>
							<input type='hidden' name='submit[title]' 	value='<%= movie.title %>'>
							<input type='hidden' name='submit[length]' 	value='<%= movie.length %>'>
							<input type='hidden' name='submit[poster]' 	value='<%= movie.poster %>'>
							<input type='hidden' name='submit[imdb]'	value='<%= movie.url %>'>
							<input type='submit' value='Submit'>
						</form>
					</td>
				</tr>
			
			
			<% end %>
		
		</tbody>
	</table>
</div>